<a href="https://colab.research.google.com/github/NilanjanJana16/Data-Science/blob/main/06-%20NLP/%2004-%20Text%20Classification/%2001-%20TextClassification%20Review%20analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text Classification Assessment
This assessment is very much like the Text Classification Project we just completed, and the dataset is very similar.

The **moviereviews2.tsv** dataset contains the text of 6000 movie reviews. 3000 are positive, 3000 are negative, and the text has been preprocessed as a tab-delimited file. As before, labels are given as `pos` and `neg`.

We've included 20 reviews that contain either `NaN` data, or have strings made up of whitespace.

For more information on this dataset visit http://ai.stanford.edu/~amaas/data/sentiment/

### Task #1: Perform imports and load the dataset into a pandas DataFrame
For this exercise you can load the dataset from `'../TextFiles/moviereviews2.tsv'`.

In [3]:
import pandas as pd

df = pd.read_csv('moviereviews2.tsv', sep = '\t')

df.head(5)

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

### Task #2: Check for missing values:

In [2]:
# Check for NaN values:

df.isnull().sum()

label      0
review    19
dtype: int64

In [5]:
# Check for whitespace strings (it's OK if there aren't any!):

blanks = []

for index,label,review in df.itertuples():
  if type(review) == str:
    if review.isspace():
      blanks.append(index)



len(blanks)

0

### Task #3: Remove NaN values:

In [6]:
df.dropna(inplace=True)

### Task #4: Take a quick look at the `label` column:

In [8]:
df['label'].value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

### Task #5: Split the data into train & test sets:
You may use whatever settings you like. To compare your results to the solution notebook, use `test_size=0.33, random_state=42`

In [10]:
from sklearn.model_selection import train_test_split

X = df['review']
y = df['label']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.33, random_state = 42)

### Task #6: Build a pipeline to vectorize the date, then train and fit a model
You may use whatever model you like. To compare your results to the solution notebook, use `LinearSVC`.

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

text_clf = Pipeline([('tfidf', TfidfVectorizer(stop_words= 'english')), ('clf', LinearSVC())])
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer(stop_words='english')),
                ('clf', LinearSVC())])

### Task #7: Run predictions and analyze the results

In [26]:
# Form a prediction set

predictions = text_clf.predict(X_test)

In [27]:
# Report the confusion matrix

from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, predictions))

[[895  96]
 [ 45 938]]

In [28]:
# Print a classification report

print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         neg       0.95      0.90      0.93       991
         pos       0.91      0.95      0.93       983

    accuracy                           0.93      1974
   macro avg       0.93      0.93      0.93      1974
weighted avg       0.93      0.93      0.93      1974

In [29]:
# Print the overall accuracy

print(accuracy_score(y_test, predictions))

0.9285714285714286

## Great job!